<mat-card class="home-card">
  <mat-card-header>
    <mat-card-title>
      Stevens County Food Shelf
    </mat-card-title>
  </mat-card-header>
</mat-card>

<form [formGroup]="shoppingForm" (ngSubmit)="submitForm()">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Fruits</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div formGroupName="personalInfo">

        <mat-form-field>
          <mat-label>Full Name / Nombre</mat-label>
          <input matInput formControlName="fullName">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Zip Code / Código Postal</mat-label>
          <input matInput formControlName="zipCode">
        </mat-form-field>

        <mat-form-field>
          <mat-label># of persons in Home/ Número de Personas en Casa?</mat-label>
          <input matInput type="number" formControlName="personsInHome">
        </mat-form-field>

        <mat-form-field>
          <mat-label># under 18?</mat-label>
          <input matInput type="number" formControlName="personsUnder18">
        </mat-form-field>

        <mat-form-field>
          <mat-label># over 65?</mat-label>
          <input matInput type="number" formControlName="personsOver65">
        </mat-form-field>

        <mat-checkbox ngDefaultControl formControlName="incomeLessThanGuideline">
          Is income less than the guideline for family size?
        </mat-checkbox>

        <mat-checkbox ngDefaultControl formControlName="glutenFree">Gluten-free/ Sin gluten</mat-checkbox>

        <mat-checkbox ngDefaultControl formControlName="lowSugar">Low-sugar/ Bajo azúcar</mat-checkbox>

        <mat-checkbox ngDefaultControl formControlName="lactoseFree">Lactose free/ Sin lactosa</mat-checkbox>

        <mat-checkbox ngDefaultControl formControlName="vegetarian">Vegetarian/ Vegetariano</mat-checkbox>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>FRUITS / FRUTAS  </mat-card-title>
      <mat-card-subtitle>1-3 in household, choose 3 options; 4-6 household = 6 options; 7+ = 10 options</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div formGroupName="fruit">
        <mat-card-footer>Fresh / Fresca</mat-card-footer>
        <mat-card-content>
        <div><mat-checkbox ngDefaultControl formControlName="freshMisc">Misc Fresh Fruit as available / Varios frutas frescas como disponible</mat-checkbox></div>
        <div><mat-checkbox ngDefaultControl formControlName="freshAppleJuice">Apple juice / Jugo de manzana</mat-checkbox></div>
        <div><mat-checkbox ngDefaultControl formControlName="freshFrozenPeaches">Frozen peaches / Duraznos congelados</mat-checkbox></div>
      </mat-card-content>
      <mat-card-footer>Canned / En Lata</mat-card-footer>
    <mat-card-content>
        <div> <mat-checkbox ngDefaultControl formControlName="cannedMixed">Mixed fruit / Mix de fruta</mat-checkbox></div>
        <div> <mat-checkbox ngDefaultControl formControlName="cannedPeaches">Peaches / Duraznos</mat-checkbox></div>
        <div> <mat-checkbox ngDefaultControl formControlName="cannedAppleSauce">Apple Sauce / Puré de manzana</mat-checkbox></div>
      </mat-card-content>
      <mat-card-footer>Dried / Seca</mat-card-footer>
    <mat-card-content>
        <div><mat-checkbox ngDefaultControl formControlName="driedDates">Dates (whole OR pieces) / Dátiles (enteros O piezas)</mat-checkbox></div>
      </mat-card-content>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>VEGETABLES / VERDURAS</mat-card-title>
      <mat-card-subtitle>1-3 in household, choose 3 options; 4-6 household = 6 options; 7+ = 10 options</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div formGroupName="vegetable">
        <mat-card-footer>Fresh / Fresca</mat-card-footer>
        <mat-card-content>
          <div><mat-checkbox ngDefaultControl formControlName="freshCarrots">Carrots / Zanahorias</mat-checkbox></div>
        <div><mat-checkbox ngDefaultControl formControlName="freshPotatoes">Potatoes / Papas</mat-checkbox></div>
        <div><mat-checkbox ngDefaultControl formControlName="freshMisc">Misc veggies as available / Varias verduras como disponible</mat-checkbox></div>
      </mat-card-content>
      <mat-card-footer>Canned / En Lata</mat-card-footer>
    <mat-card-content>
        <div> <mat-checkbox ngDefaultControl formControlName="cannedCorn">Corn / Elote</mat-checkbox></div>
        <div> <mat-checkbox ngDefaultControl formControlName="cannedGreenBeans">Green beans / Ejotes</mat-checkbox></div>
        <div> <mat-checkbox ngDefaultControl formControlName="cannedPeas">Peas / Chicharitos</mat-checkbox></div>
        <div> <mat-checkbox ngDefaultControl formControlName="cannedSpinach">Sweet Potatoes / Papas dulces</mat-checkbox></div>
        <div> <mat-checkbox ngDefaultControl formControlName="cannedCarrots">Carrots / Zanahorias</mat-checkbox></div>
        <div> <mat-checkbox ngDefaultControl formControlName="cannedTomatoes">Diced Tomatoes / Jitomates en lata</mat-checkbox></div>
        <div> <mat-checkbox ngDefaultControl formControlName="cannedSpaghettiSauce">Spaghetti sauce/ Salsa para espagueti </mat-checkbox></div>
      </mat-card-content>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>PROTEINS / PROTEÍNAS</mat-card-title>
      <mat-card-subtitle>1-3 household, choose 3 options; 4-6 household = 6 options; 7+ = 10 options. Quantities are limited</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div formGroupName="protein">
        <mat-card-footer>Frozen meat / Carne congelada</mat-card-footer>
        <mat-card-content>
          <div><mat-checkbox ngDefaultControl formControlName="frozenGroundBeef">Ground beef / Carne de res molido</mat-checkbox></div>
        <div><mat-checkbox ngDefaultControl formControlName="frozenGroundBeefPork">Ground Beef/Pork Blend / Mezcla de carne de res y puerco molido</mat-checkbox></div>
        <div><mat-checkbox ngDefaultControl formControlName="frozenPlantBurger">Plant based burgers / Hamburguesas vegetarianas</mat-checkbox></div>
        <div><mat-checkbox ngDefaultControl formControlName="frozenPizzaRanch">Pizza Ranch Pizza / Pizza de Pizza Ranch</mat-checkbox></div>
        <div><mat-checkbox ngDefaultControl formControlName="frozenVeggieRavioli">Veggie Ravioli (for one) / Raviolis con verduras (para uno)</mat-checkbox></div>
        <div><mat-checkbox ngDefaultControl formControlName="frozenChickenDrum">Chicken drumsticks / Piernas de pollo (pequeños)</mat-checkbox></div>
        <div><mat-checkbox ngDefaultControl formControlName="frozenWholeChicken">Whole chicken / Pollo entero</mat-checkbox></div>
        <div><mat-checkbox ngDefaultControl formControlName="frozenChickenBreast">Chicken breast / Pechuga de pollo</mat-checkbox></div>
        <div><mat-checkbox ngDefaultControl formControlName="frozenChickenLeg">Chicken Leg Qtrs / Piernas de pollo (grande)</mat-checkbox></div>
        <div><mat-checkbox ngDefaultControl formControlName="frozenFishSticks">Fish Sticks/ Pescado</mat-checkbox></div>
        <div><mat-checkbox ngDefaultControl formControlName="frozenHam">Ham / Jamón</mat-checkbox></div>
        <div><mat-checkbox ngDefaultControl formControlName="frozenAssortedMeats">Assorted meats as available / Varios</mat-checkbox></div>
      </mat-card-content>
      <mat-card-footer>Canned / En Lata</mat-card-footer>
    <mat-card-content>
        <div> <mat-checkbox ngDefaultControl formControlName="cannedChicken">Chicken / Pollo</mat-checkbox></div>
        <div> <mat-checkbox ngDefaultControl formControlName="cannedTuna">Tuna / Atún</mat-checkbox></div>
        <div> <mat-checkbox ngDefaultControl formControlName="cannedSalmon">Salmon / Salmon  </mat-checkbox></div>
      </mat-card-content>
      <mat-card-footer>Ready to eat canned meals / Comida instantanea</mat-card-footer>
      <mat-card-content>
          <div> <mat-checkbox ngDefaultControl formControlName="cannedPastaMeatSauce">Pasta with meat sauce / Espagueti en lata con carne</mat-checkbox></div>
          <div> <mat-checkbox ngDefaultControl formControlName="cannedPastaButterSauce">Pasta in butter sauce / Espagueti en lata con mantequilla</mat-checkbox></div>
          <div> <mat-checkbox ngDefaultControl formControlName="cannedChili">Canned chili / Chili en lata</mat-checkbox></div>
          <div> <mat-checkbox ngDefaultControl formControlName="cannedVegCurry">Veg Curry (for one) / Curry con verduras (para uno)</mat-checkbox></div>
          <div> <mat-checkbox ngDefaultControl formControlName="cannedHotDogSauce">Hot Dog sauce / Salsa para salchichas</mat-checkbox></div>
        </mat-card-content>
        <mat-card-footer>Canned beans / Frijoles en Lata</mat-card-footer>
      <mat-card-content>
          <div> <mat-checkbox ngDefaultControl formControlName="beansBlackPeas">Black eyed peas / Frijol carita negro</mat-checkbox></div>
          <div> <mat-checkbox ngDefaultControl formControlName="beansYellow">Yellow eyed beans / Frijoles amarillos</mat-checkbox></div>
          <div> <mat-checkbox ngDefaultControl formControlName="beansPinto">Pork & beans / Frijoles con puerco</mat-checkbox></div>
          <div> <mat-checkbox ngDefaultControl formControlName="beansPork">Pork & beans / Frijoles con puerco</mat-checkbox></div>
        </mat-card-content>
        <mat-card-footer>Dried beans / Frijoles secos</mat-card-footer>
        <mat-card-content>
            <div> <mat-checkbox ngDefaultControl formControlName="driedBlack">Black beans / Frijoles negros</mat-checkbox></div>
            <div> <mat-checkbox ngDefaultControl formControlName="driedPinto">Pinto beans / Frijoles pintos</mat-checkbox></div>
            <div> <mat-checkbox ngDefaultControl formControlName="driedYellow">Yellow split peas / Chícharos amarillos</mat-checkbox></div>
            <div> <mat-checkbox ngDefaultControl formControlName="driedKidney">Kidney beans / Frijoles rojos</mat-checkbox></div>
            <div> <mat-checkbox ngDefaultControl formControlName="driedMisc">Misc dried beans / Varios frijoles secos</mat-checkbox></div>
          </mat-card-content>
          <mat-card-footer>Nuts / Nueces and snacks</mat-card-footer>
          <mat-card-content>
              <div> <mat-checkbox ngDefaultControl formControlName="nutPeanutButter">Peanut butter / Mantequilla de cacahuate</mat-checkbox></div>
              <div> <mat-checkbox ngDefaultControl formControlName="nutAlmonds">Almonds / Almendras</mat-checkbox></div>
              <div> <mat-checkbox ngDefaultControl formControlName="nutWalnut">Walnuts / Nuez de nogal</mat-checkbox></div>
            </mat-card-content>
            <mat-card-footer>SNACKS</mat-card-footer>
          <mat-card-content>
              <div> <mat-checkbox ngDefaultControl formControlName="snackCracker">Crackers / Galletas saladas</mat-checkbox></div>
              <div> <mat-checkbox ngDefaultControl formControlName="snackCookies">Cookies / Galletas dulces</mat-checkbox></div>
              <div> <mat-checkbox ngDefaultControl formControlName="snackMisc">Misc snacks / Varios bocadillos</mat-checkbox></div>
            </mat-card-content>

      </div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>GRAINS / GRANOS</mat-card-title>
      <mat-card-subtitle>1-3 in household choose 3 options; 4-6 household = 6 options; 7+ = 10 options</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div formGroupName="grain">
        <mat-card-footer></mat-card-footer>
        <mat-card-content>
          <div><mat-checkbox ngDefaultControl formControlName="breakfastRice">Rice / Arroz</mat-checkbox></div>
          <div><mat-checkbox ngDefaultControl formControlName="breakfastStuffing">Stuffing mix / Mezcla para estofada</mat-checkbox></div>
          <div><mat-checkbox ngDefaultControl formControlName="breakfastPancake">Pancake mix / Mezcla para hot cakes</mat-checkbox></div>
          <div><mat-checkbox ngDefaultControl formControlName="breakfastQuickOat">Quick Oats Avena instantánea </mat-checkbox></div>
          <div><mat-checkbox ngDefaultControl formControlName="breakfastCereal">Ready-to-eat cereal / Cereal</mat-checkbox></div>

      </mat-card-content>
      <mat-card-footer>Dried pasta / Pasta seca</mat-card-footer>
    <mat-card-content>
      <div><mat-checkbox ngDefaultControl formControlName="pastaElbow">Elbow Noodles / Coditos</mat-checkbox></div>
      <div><mat-checkbox ngDefaultControl formControlName="pastaMacaroni">Macaroni & cheese / Macaroni & queso</mat-checkbox></div>
      <div><mat-checkbox ngDefaultControl formControlName="pastaPenne">Penne pasta / Pasta penne</mat-checkbox></div>
      <div><mat-checkbox ngDefaultControl formControlName="pastaRiceInstant">Instant pasta or rice / Pasta o arroz instantánea</mat-checkbox></div>
      </mat-card-content>

      <mat-card-footer>Bakery / Panaderia</mat-card-footer>
    <mat-card-content>
      <div><mat-checkbox ngDefaultControl formControlName="bakeryBread">Bread / Pan</mat-checkbox></div>
      <div><mat-checkbox ngDefaultControl formControlName="bakeryHamburger">Hamburger buns / Pan para hamburguesas</mat-checkbox></div>
      <div><mat-checkbox ngDefaultControl formControlName="bakeryDawg">Hot dog buns / Pan para Hot Dog</mat-checkbox></div>
      <div><mat-checkbox ngDefaultControl formControlName="bakeryGoods">Baked goods / Postres</mat-checkbox></div>
      </mat-card-content>

      </div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>MILK & CHEESE / LÁCTEOS</mat-card-title>
      <mat-card-subtitle>1-3 in household choose 2 options; 4-6 household = 4 options; 7+ = 6 options</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div formGroupName="dairy">
        <mat-card-footer></mat-card-footer>
        <mat-card-content>
          <div><mat-checkbox ngDefaultControl formControlName="freshMilk">Fresh milk (lactose free) / Leche (sin lactosa)</mat-checkbox></div>
          <div><mat-checkbox ngDefaultControl formControlName="miscDairy">Misc dairy products / Varios productos lácteos </mat-checkbox></div>
          <div><mat-checkbox ngDefaultControl formControlName="freshCheese">Cheese / Queso</mat-checkbox></div>
          <div><mat-checkbox ngDefaultControl formControlName="freshYogurt">Yogurt / Yogur</mat-checkbox></div>
          <div><mat-checkbox ngDefaultControl formControlName="freshButter">Butter / Mantequilla</mat-checkbox></div>
          <div><mat-checkbox ngDefaultControl formControlName="shelfStableMilk">Shelf stable milk / Leche que no necesita refrigeración</mat-checkbox></div>
      </mat-card-content>

      </div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>PANTRY, COOKING, & BAKING / COCINAR y HORNEAR</mat-card-title>
      <mat-card-subtitle>1-3 in household choose 3 options; 4-6 household = 6 options; 7+ = 10 options</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div formGroupName="pantry">
        <mat-card-footer>Baking / Hornear</mat-card-footer>
        <mat-card-content>
          <div><mat-checkbox ngDefaultControl formControlName="bakingMix">Baking mix / Mezcla para panecillos</mat-checkbox></div>
          <div><mat-checkbox ngDefaultControl formControlName="bakingCakeMix">Cake mix / Mezcla para pastel </mat-checkbox></div>
          <div><mat-checkbox ngDefaultControl formControlName="bakingFlour">Flour / Harina</mat-checkbox></div>
          <div><mat-checkbox ngDefaultControl formControlName="bakingMuffinMix">Muffin mix / O mezcla para panquecitos</mat-checkbox></div>
          <div><mat-checkbox ngDefaultControl formControlName="bakingCookieMix">Cookie mix / Mezcla para galletas</mat-checkbox></div>
          <div><mat-checkbox ngDefaultControl formControlName="bakingMisc">Miscellaneous baking items / Varios productos para hornear</mat-checkbox></div>
          <div><mat-checkbox ngDefaultControl formControlName="bakingVegOil">Vegetable oil / Aceite vegetal</mat-checkbox></div>

      </mat-card-content>
      <mat-card-footer>Soups / Sopas</mat-card-footer>
    <mat-card-content>
      <div><mat-checkbox ngDefaultControl formControlName="soupChicken">Chicken noodle / Espagueti con pollo</mat-checkbox></div>
      <div><mat-checkbox ngDefaultControl formControlName="soupTomato">Tomato soup / Crema de jitomate</mat-checkbox></div>
      <div><mat-checkbox ngDefaultControl formControlName="soupVegetable">Vegetable soup / Sopa de vegetales</mat-checkbox></div>
      <div><mat-checkbox ngDefaultControl formControlName="soupCreamy">Creamy canned soup / Crema de hongos o pollo</mat-checkbox></div>
      <div><mat-checkbox ngDefaultControl formControlName="soupMisc">Misc soups, as available / Varios sopas en lata, disponibilidad variable</mat-checkbox></div>
      </mat-card-content>

      <mat-card-footer>Condiments / Condimentos</mat-card-footer>
    <mat-card-content>
      <div><mat-checkbox ngDefaultControl formControlName="condimentSeasonings">Seasonings / Condimentos</mat-checkbox></div>
      <div><mat-checkbox ngDefaultControl formControlName="condimentHotSauce">Hot Sauce / Salsa picante</mat-checkbox></div>
      <div><mat-checkbox ngDefaultControl formControlName="condimentDressing">Salad dressing (miscellaneous) / Varios aderezos</mat-checkbox></div>
      <div><mat-checkbox ngDefaultControl formControlName="condimentRanch">Ranch dressing / Aderezo “Ranch”</mat-checkbox></div>
      <div><mat-checkbox ngDefaultControl formControlName="condimentMustard">Mustard / Mostaza</mat-checkbox></div>
      <div><mat-checkbox ngDefaultControl formControlName="condimentSyrup">Syrup / Jarabe para panqueques</mat-checkbox></div>
      <div><mat-checkbox ngDefaultControl formControlName="condimentPicklesOlives">Misc pickles, olives, etc / Varios encurtidos, olivas, etc.</mat-checkbox></div>
      </mat-card-content>

      </div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>BABY / PARA BEBE</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div formGroupName="baby">
        <mat-card-footer></mat-card-footer>
        <mat-card-content>
          <div><mat-checkbox ngDefaultControl formControlName="babyFruit">Fruit or Vegetable puree / Puré de fruta o verdura</mat-checkbox></div>
          <div><mat-checkbox ngDefaultControl formControlName="babyCereal">Baby cereal / Cereal para bebe</mat-checkbox></div>
          <div><mat-checkbox ngDefaultControl formControlName="babyFormula">Formula / Formula láctea</mat-checkbox></div>
          <div><mat-checkbox ngDefaultControl formControlName="babyNewbornGiftBag">Newborn gift bag / Regalo para bebe recien nacido</mat-checkbox></div>
          <div><mat-form-field>
            <mat-label>Diapers size/ Pañales tamaño</mat-label>
            <input matInput formControlName="babyDiaperSize">
          </mat-form-field></div>
      </mat-card-content>

      </div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>PERSONAL / PERSONAL</mat-card-title>
      <mat-card-subtitle>Choose up to 2+ depending on household size / Escojan hasta 2+ dependiente de gente en casa</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div formGroupName="personal">
        <mat-card-footer></mat-card-footer>
        <mat-card-content>
          <div><mat-checkbox ngDefaultControl formControlName="hygieneShampoo">Shampoo / Shampu</mat-checkbox></div>
          <div><mat-checkbox ngDefaultControl formControlName="hygieneBody">Body or hand soap / Jabón para el cuerpo o manos</mat-checkbox></div>
          <div><mat-checkbox ngDefaultControl formControlName="hygieneToothpaste">Toothpaste / Pasta dental</mat-checkbox></div>
          <div><mat-checkbox ngDefaultControl formControlName="hygieneToothbrush">Toothbrushes / Cepillo dental</mat-checkbox></div>
          <div><mat-checkbox ngDefaultControl formControlName="birthdayPartyKit">Birthday Party Kit / Kit para una fiesta de cumpleaños </mat-checkbox></div>
          <div><mat-checkbox ngDefaultControl formControlName="hygieneHandSanitizer">Hand sanitizer / Desinfectante de manos</mat-checkbox></div>
          <div><mat-checkbox ngDefaultControl formControlName="hygieneFemale">Feminine hygiene / Artículos higiénicos para mujer</mat-checkbox></div>
      </mat-card-content>

      </div>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>HOUSEHOLD / PARA LA CASA</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div formGroupName="household">
        <mat-card-footer></mat-card-footer>
        <mat-card-content>
          <div><mat-checkbox ngDefaultControl formControlName="dishSoap">Dish soap / Jabón para trastes</mat-checkbox></div>
          <div><mat-checkbox ngDefaultControl formControlName="laundryDetergent">Laundry detergent / Detergente para ropa</mat-checkbox></div>
          <div><mat-checkbox ngDefaultControl formControlName="disinfectingWipes">Disinfecting wipes / Toallitas desinfectantes</mat-checkbox></div>
      </mat-card-content>

      </div>
    </mat-card-content>
  </mat-card>





  <button mat-raised-button type="submit">Submit</button>
</form>
