.input-field {
  position: relative;
  top: 50px;
  margin: auto;
  width: 20%;
  left: 450px;
}

.home-card{
  position: relative;
  background-color: maroon;
  border: 3px solid rgb(247, 213, 25);
  color: rgb(247, 213, 25);
  text-align: center;
}

.continue-button{
  position: relative;
  top: 200px;
  margin: auto;
  border: 1px solid rgb(247, 213, 25);
  left: 260px;
}


