<!-- <mat-toolbar color="primary" role="navigation">
  <span>PocketShelf 2.0</span><br>
  <button mat-button class="clients-button"  matTooltipPosition="right" routerLink="/" data-test="account_box">
    <mat-label >Home</mat-label>
    <mat-icon class="account_box" aria-label="Home page">home</mat-icon>
  </button>
  <button mat-button class="clients-button"  matTooltipPosition="right" routerLink="/requests/donor" data-test="account_box">
    <mat-label >Donors / Donantes</mat-label>
    <mat-icon class="account_box" aria-label="Donor page">favorite</mat-icon>
  </button>
  <button mat-button class="clients-button"  matTooltipPosition="right" routerLink="/requests/client" data-test="account_box">
    <mat-label >Clients / Clientes</mat-label>
    <mat-icon class="account_box" aria-label="Client page">shopping_basket</mat-icon>
  </button>
  <button mat-button class="clients-button"  matTooltipPosition="right" routerLink="/requests/volunteer" data-test="account_box">
    <mat-label >Volunteers / Voluntarios</mat-label>
    <mat-icon class="account_box" aria-label="Volunteer Page">people</mat-icon>
  </button>
</mat-toolbar>
<div class="main-content mat-typography">
  <router-outlet></router-outlet>
</div> -->

<!-- <div class="flex-row">
  <div class="flex-1">
    <mat-card class="home-card">
      <mat-card-header>
        <mat-card-title>
          PocketShelf: brought to you by the SC food shelf in collaboration with UMM!
        </mat-card-title>
      </mat-card-header>
    </mat-card>
    <div class="tactile-stuff">
    <mat-form-field class="input-field">
      <mat-label>I am a...</mat-label>
      <mat-select
      [(ngModel)]="userRole"
      (selectionChange)="changeRole(userRole)"
      data-test="userRoleSelect"
      required >
        <mat-option>--</mat-option>
        <mat-option value="donor">Donor</mat-option>
        <mat-option value="client">Client</mat-option>
        <mat-option value="volunteer">Volunteer</mat-option>
      </mat-select>
    </mat-form-field>
    <a class="continue-button"
    mat-raised-button
    [routerLink] = "['/requests', userRole]"
    matRipple
    [disabled]="!userRole">
      Continue
    </a>
    <a class="client-form-button"
    mat-raised-button
    [routerLink] = "['/form/client']"
    matRipple>
    Fill out a shopping form!
    </a>
    <a class="volunteer-form-button"
    mat-raised-button
    [routerLink] = "['/forms/volunteer']"
    matRipple>
    View the forms!
    </a>
    </div>
  </div>
</div> -->
<div class="flex-row">
  <div class="flex-1">
    <mat-card class="home-card" data-test=".app-title">
      <mat-card-header>
        <mat-card-title>

          PocketShelf brought to you by the SC food shelf in collaboration with UMM!
        </mat-card-title>
      </mat-card-header>
    </mat-card>
    <img src = "https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fget.pxhere.com%2Fphoto%2Fperson-play-food-plate-child-baking-eat-lunch-pasta-noodles-eating-children-infant-toddler-learning-spaghetti-italian-noodle-dish-human-positions-human-action-549248.jpg&f=1&nofb=1&ipt=7b64829f9ff49e5165bd0bbdcaeeb3e46688b38ac8b76d13a001bbde2e6737f1&ipo=images" width="1000" heigh="500">

  </div>
</div>


<a mat-button href = "https://stevenscountyfoodshelf.org/" target="_blank">Food Shelf Link</a>

